.container::after {
    content: "";
    display: table;
    clear: both;
}

#Self{
    max-width: 25%;
    height: auto;
}

.container {
    float: left;
    width: 50%;
}


.footer a{
    margin-right: 75px;
}

#MobileWeb{
    max-width: 50%;
    height: auto;
}

#Wheel{
    max-width: 50%;
    height: auto;
}
body, html {
    height: 100%;
    margin: 0;
}

.content {
    min-height: 100vh;
    padding-bottom: 50px; /* Adjust based on the height of your footer */
    box-sizing: border-box;
}

.footer {
    /* height: 50px; Adjust based on the height of your footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* padding: 10px; */
}